[Desktop Entry]
# TRANSLATORS: Don't translate
Name=Eloquent
Comment=Your proofreading assistant
Exec=re.sonny.Eloquent %U
Terminal=false
Type=Application
Categories=Office;WordProcessor;TextTools;Utility;GNOME;GTK;
Icon=re.sonny.Eloquent
# TRANSLATORS: Don't translate
Keywords=LanguageTool;spell;grammar;
DBusActivatable=true
StartupNotify=true
